.cl-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  row-gap: 10px;
  column-gap: 10px;
  padding: 0 10px;
}

.cl-card {
  width: 240px;
  border: 2px solid #E6E6E6;
  border-radius: 8px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}
.cl-card.selected {
  background-color: #d9ead3;
}

.cl-code {
  margin-top: 0;
}

.cl-title {
  height: -webkit-fill-available;
}

.cl-divider {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #E6E6E6;
  transform: scaleX(1.08);
}