.edit-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: flex-start;
  gap: 5px;
}

.edit-label {
  font-size: x-large;
  margin-bottom: 5px;
}

.edit-input {
  width: 500px;
  max-width: 90%;
  margin-bottom: 15px;
}

.edit-errormsg {
  margin-left: 10px;
  font-size: small;
  color: red;
}

.edit-errormsg::before {
  content: "*";
}